.logoutContainer {
  display: flex;
  justify-content: center;
  margin-top: 12px;
  width: 100%;
}

.logoutText {
  color: #888;
  font-size: 0.9rem;
  cursor: pointer;
  font-family: 'Pretendard', sans-serif;
  font-weight: 300;
  transition: color 0.2s;
  text-decoration: underline;
}

.logoutText:hover {
  color: #666;
}
